extends layout 

block content
    .container
        h1.heading Hello #{name}, Welcome to the world of NodeJS 
        p.pera A web app totally build using nodejs and express with pug view lib, that give us the top notch performance and power of javascript.
        a.button(href="/login") Login       
